.RightSide{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-evenly;
}
.reportbtn{
    height: 20%;
    width: 15%;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .RightSide{
        justify-content: flex-start;
      
    }
}

@media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
    }
    .RightSide>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}